In [1]:
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1,echo: word1 * echo)

# Call echo_word: result
result = echo_word('hey',5)

# Print result
print(result)

heyheyheyheyhey

. In the map() call, pass a lambda function that concatenates the string '!!!' to a string item; also pass the list of strings, spells. Assign the resulting map object to shout_spells.

. Convert shout_spells to a list and print out the list.

In [2]:
#Map() and lambda functions
# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda item:item + '!!!', spells )

# Convert shout_spells to a list: shout_spells_list
shout_spells_list = list(shout_spells)

# Print the result
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

. In the filter() call, pass a lambda function and the list of strings, fellowship. The lambda function should check if the number of characters in a string member is greater than 6; use the len() function to do this. Assign the resulting filter object to result.

. Convert result to a list and print out the list.

In [3]:
#Filter() and lambda Functions
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member:len(member)>6,fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

. Import the reduce function from the functools module.

. In the reduce() call, pass a lambda function that takes two string arguments item1 and item2 and concatenates them; also pass the list of strings, stark. Assign the result to result. The first argument to reduce() should be the lambda function and the second argument is the list stark.

In [ ]:
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1,item2:item1+item2,stark)

# Print the result
print(result)

In [4]:
# Applying lambda function to pandas DataFrame
import pandas as pd 

df = pd.DataFrame({'A':[1,2,3],
                   'B':[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
df['A'] = df['A'].apply(lambda x : x**2)
df

   A  B
0  1  4
1  4  5
2  9  6

In [6]:
df['C'] = df.apply(lambda row:row['A'] * row['B'], axis = 1)
df

   A  B   C
0  1  4   4
1  4  5  20
2  9  6  54